.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #000;
  color: #fff;
  padding: 0 50px;
  font-weight: bold;
  position: sticky;
  top: 0;
}

.navBar__navLink ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 400px;
}
